@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

blockquote header{
	font-variant: small-caps;
	text-align: center;
	margin-bottom: 1em;
}

abbr.name{
	white-space: nowrap;
}
