@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

blockquote header p{
	text-indent: 0;
}

blockquote header b{
	display: block;
	margin-bottom: 1em;
}

blockquote ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-variant: small-caps;
}

figure{
	margin: 1em auto;
	padding: 0 2em;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
	text-align: right;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
}

[epub|type~="z3998:postscript"],
[epub|type~="z3998:recipient"] + p{
	text-indent: 0;
}

/* chapter 4 */
#chapter-4 blockquote:first-of-type b{
	display: block;
	text-align: center;
}
